html {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}

body {
  background-color: white;
}

/* Tablets en horizonal y escritorios normales */

@media (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: cornflowerblue;
  }
}

/* Móviles en horizontal o tablets en vertical */

@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: yellowgreen;
  }
}

/* Móviles en vertical */

@media (max-width: 480px) {
  body {
    margin: 0px;
    background: white;
  }
  header {
    position: absolute;
    height: 128px;
    background-image: url('./images/Web.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  .container {
    padding-top: 128px;
  }
  .logo {
    z-index: 100;
    height: 100px;
  }
  .home {
    margin: 16px;
  }
  .menu {
    display: block;
    float: left;
    margin: 10px 0px 0px 10px;
    height: 64px;
  }
  .search {
    margin-bottom: 8px;
    width: 99%;
    border-radius: 4px;
    height: 28px;
    outline: none;
    padding-left: 4px;
  }
  .filtros {
    display: none;
  }
  .item-pokemon {
    display: inline-block;
    background: #d6d5d5;
    width: calc(50% - 10px);
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .item-pokemon:hover {
    box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
  }
}

/* 
header{
    text-align: center;
    height: 150px;
}

header > img{
    height: 100px;
}

.home{
  background: #f2f2f2;
  display: flex;
}

.container{
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.ordenPokemon{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.item-pokemon{
  background: white;
  width: 170px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.filtros{
  background:white;
  display: block;
  margin: 20px;
  width: 30%;
}

form {
  padding: 50px;
  padding-left: 200px;
  width: 70%;
}

fieldset{
  background: white;
  border-radius: 5px;
  border: 1px solid white;
  padding: 0 0 0 50px;
}

input{
  border: none;
  padding: 0 0 0 100px;
}

.profile{
  background: aquamarine;
  display: flex;
}

.showDatos{
  display: flex;
  flex-wrap: wrap;
}
 */